<launch>
  
  <!-- Config -->
  <arg name="rviz" default="true"/> 
  <arg name="world1" default="true"/> 
  <param name="robot_description" textfile="$(find bbot_description)/urdf/bbot.urdf.xacro" />  

  <!-- World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg if="$(arg world1)" name="world_name" value="$(find bbot_gazebo)/world/bbot_nav.world"/>
    <arg unless="$(arg world1)" name="world_name" value="$(find bbot_gazebo)/world/bbot_nav2.world"/>
    <arg name="paused" value="true"/>
  </include>

  <!-- Control -->
  <include file="$(find bbot_control)/launch/bbot_control.launch"/>

  <!-- Perception -->
  <include file="$(find bbot_perception)/launch/marker_localization.launch"/>

  <!-- Show in Rviz -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find bbot_description)/rviz/bbot.rviz"/>

  <!-- Settings for using bbot_nav.world -->
  <group if="$(arg world1)">
    <!-- Spaw Bbot -->
    <node name="spawn_bbot" pkg="gazebo_ros" type="spawn_model" args="-file $(find bbot_description)/urdf/bbot.urdf.xacro -urdf -x -3.0 -y -2.8 -z 0.21 -Y 1.57 -model bbot"/>
  
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_TO_base_link" args="0 0 0.18329 0 0 0  /base_footprint /base_link 10 " />

    <!-- Spaw Ramp -->
    <!-- <node name="spawn_ramp" pkg="gazebo_ros" type="spawn_model" args="-file $(find bbot_description)/urdf/ramp.urdf.xacro -urdf -x 3.856256 -y 1.5 -z 0.1 -Y -1.57 -model ramp"/> -->

    <!-- Spaw TAG -->
    <node name="spawn_aruco" pkg="gazebo_ros" type="spawn_model" args="-file $(find bbot_description)/urdf/ar_tag.urdf.xacro -urdf -x -2.559903 -y 0.5 -z 0.25 -Y 1.57 -model ArucoTAG"/>
  </group>
  
  <!-- Settings for using bbot_nav2.world -->
  <group unless="$(arg world1)">
    <!-- Spaw Bbot -->
    <node name="spawn_bbot" pkg="gazebo_ros" type="spawn_model" args="-file $(find bbot_description)/urdf/bbot.urdf.xacro -urdf -x -4.0 -y -4.0 -z 0.21 -Y 1.57 -model bbot"/>
  
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_TO_base_link" args="0 0 0.18329 0 0 0  /base_footprint /base_link 10 " />

    <!-- Spaw Ramp -->
    <node name="spawn_ramp" pkg="gazebo_ros" type="spawn_model" args="-file $(find bbot_description)/urdf/ramp.urdf.xacro -urdf -x 3.856256 -y 1.5 -z 0.1 -Y -1.57 -model ramp"/>

    <!-- Spaw TAG -->
    <node name="spawn_aruco" pkg="gazebo_ros" type="spawn_model" args="-file $(find bbot_description)/urdf/ar_tag.urdf.xacro -urdf -x -4.0 -y 0.5 -z 0.25 -Y 1.57 -model ArucoTAG"/>
  </group>

</launch>